SMB_PROXY_MODE=gateway
SMB_HOST=host
SMB_SHARE=share
SMB_USER=username
SMB_PASSWORD=your-password
SMB_FORCE_IPV4=true
LOCAL_SHARE=test
LOCAL_USER=proxy
LOCAL_PASSWORD=localpass
LOCAL_ALLOW_GUEST=false
